<div class="row">
  <div class="col-sm-12">
    <%= show_user_image(@user) %>
  </div>
</div>
<br/>
<div class="form-check">
  <input name="user[data][chat_disabled]" type="hidden" value="false">
  <input type="checkbox" name="user[data][chat_disabled]" id="user_data_chat_disabled" <%= "checked" if @user.chat_disabled? %> class="form-check-input" value="true" />
  <label class="form-check-label" for="user[data][chat_disabled]">Disable Chat</label>
</div>
<br/>
<%= form.email_field :email %>
<%= form.text_field :username %>
<div class="form-check">
  <input name="user[data][mute]" type="hidden" value="false">
  <input type="checkbox" name="user[data][mute]" id="user_data_mute" <%= "checked" if @user.data["mute"] %> class="form-check-input" value="true" />
  <label class="form-check-label" for="user[data][mute]">Mute</label>
</div>
<div class="form-check">
  <input name="user[data][admin]" type="hidden" value="false">
  <input type="checkbox" name="user[data][admin]" id="user_data_admin" <%= "checked" if @user.admin? %> class="form-check-input" value="true" />
  <label class="form-check-label" for="user[data][admin]">Admin</label>
</div>
<%= form.text_field :blurb, placeholder: "Bio" %>
<%= form.submit "Update Player", class: "btn btn-lg btn-primary" %>
<hr/>
<% if user_stats = @user.user_stats %>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th colspan="2"><%= @user.username %> Stats</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Played</th>
        <td><%= user_stats.games_played %></td>
      </tr>
      <tr>
        <th>Won</th>
        <td><%= user_stats.games_won %></td>
      </tr>
      <tr>
        <th>Lost</th>
        <td><%= user_stats.games_lost %></td>
      </tr>
      <tr>
        <th>Folded</th>
        <td><%= user_stats.games_folded %></td>
      </tr>
      <tr>
        <th>Tournaments Won</th>
        <td><%= user_stats.tournaments_won %></td>
      </tr>
      <tr>
        <th>Duels Won</th>
        <td><%= user_stats.duels_won %></td>
      </tr>
    </tbody>
  </table>
<% end %>
