<div class="inner-page-header">
  <div class="row">
    <div class="col-sm-8">
        <h2>Players</h2>
    </div>
    <div class="col-sm-4">
      <div class="form-group form-inline">
        <label class="sr-only">Search</label>
        <input type="search" placeholder="search" class="form-control" />
        <button type="submit" class="btn btn-med btn-primary">Search</button>
      </div>
    </div>
  </div>
</div>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">Member Since</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to(user.username, edit_user_path(user.id)) %></td>
        <td><%= user.email %>
        <td><%= simple_time(user.inserted_at) %></td>
        <td>
          <%= link_to("Chats", user_chats_path(user.id), class:"btn btn-primary btn-sm") %>
          <%= link_to("Edit", edit_user_path(user.id), class:"btn btn-success btn-sm") %>
          <%= link_to("Destroy", user_path(user.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm") %>
        </td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="4" class="centre">
        <%= paginate @users, theme: 'twitter-bootstrap-4' %>
      </td>
    </tr>
  </tfoot>
</table>
