<div class="inner-page-header">
  <div class="row">
    <div class="col-sm-12">
      <h2>K2Poker.io Admin</h2>
    </div>
  </div>
</div>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th colspan="2">
        Current Stats
      </th>
    </tr>
  <tbody>
    <tr>
      <th>Players</th>
      <td><%= @users %></td>
    </tr>
    <tr>
      <th>Tournaments</th>
      <td><%= @tournaments %></td>
    </tr>
    <tr>
      <th>Games</th>
      <td><%= @games %></td>
    </tr>
    <tr>
      <th>UTDs</th>
      <td><%= @user_tournament_details %></td>
    </tr>
    <tr>
      <th>Anon Users</th>
      <td><%= @anon_users %></td>
    </tr>
  </tbody>
</table>


